@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

/* globals.css oder deine bevorzugte CSS-Datei */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Für Internet Explorer 10+ */
  scrollbar-width: none; /* Für Firefox */
}
